body{
    background-color: #ce944c;
    margin: 0;
    padding: 20px;
}
.yuta{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    padding: 20px;
}
.body{
    background-color:#af7630 ;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.body a{
    text-decoration: none;
    color: white;
}
.img img{
    width: 400px;
    height: auto;
    border-radius: 8px;
}
.ess hr{
    color: white;
}
.photo img{
    width: 600px;
    height: auto;
    border-radius: 8px;
}